/gitignore
/frontend
/.venv
/.env.example

# Dependências
node_modules/
.pnp
.pnp.js

# Testes
coverage/
.nyc_output/

# Produção / Build
build/
dist/

# Arquivos gerados por ferramentas de desenvolvimento
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editores e IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários do OS
Thumbs.db

# Opcional: Se você usa TypeScript
*.tsbuildinfo

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
uploads/*
!uploads/.gitkeep
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
